body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

table {
    width: 400px;
    align-content: center;
    margin: 0 auto;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 8px;
}

