body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

thead, tfoot {
    background-color: grey;
    color: white;
}

thead > tr > th {
    position: sticky;
    top: -1px;
    background-color: black;
}

td.num {
    text-align: right;
}

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgrey;
}

tbody > tr:nth-child(2n) {
    background-color: lightgray;
}